/* 
 background: #06c988a4;
  background: #ffff00a6;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


a {
    text-decoration: none;
    width: 300px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding: 20px 100px;
    color: white;
}

a::before {
    content: '';
    z-index: -1;
    background: #06c988a4;
    position: absolute;
    top: -3px;
    left: -5px;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    transition: all 0.5s;
    transform-origin: top;
}

a::after {
    content: '';
    z-index: -1;
    background: #ffff00a6;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    transition: all 0.5s;
    transform-origin: bottom;

}

a:hover::before {
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(75deg);
}

a:hover::after {
    top: 6px;
    left: 0;
    transform: perspective(1000px) rotateX(-75deg);
}

a:hover{
    color: black;
}