* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(10, 10, 10);
}

.card-container {
  position: relative;
  background: #fff;
  color: #000;
  width: 400px;
  padding: 40px;
  margin: 20px 0;
  overflow: hidden;
}

h1 {
  margin-top: 20px;
}

p {
  width: 320px;
  padding: 50px 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  background: rgb(22, 7, 35);
  color: #fff;
  padding: 10px 20px;
  font-size: 12px;
}

.card-container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 5px);
  background-color: blueviolet;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 1s;
}

.card-container:hover::before {
  bottom: 0;
}

.content {
  position: relative;
  z-index: 2;
  transition: 1s;
}

.card-container:hover .content {
  color: #fff;
}
