* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

a {

    position: relative;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 100px;
    transition: all 0.8s;
    cursor: pointer;
}

a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s;
    border-radius: 100px;
    color: black;
    background-color: aliceblue;
}

a:hover::before {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;

}

a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    
}

a:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    
}