
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #222;
    width: 750px;
    height: 500px;
    position: relative;
}

.clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.clip.clip-one {
    background: url(https://images.unsplash.com/photo-1604537466158-719b1972feb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80) center/cover;


    clip-path: polygon(0 0, 0 100%, 48% 0);


}

.clip.clip-two {
    background: url(https://images.unsplash.com/photo-1502228213426-d4e9f2add0e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center/cover;
    clip-path: polygon(0 100%, 100% 100%, 48% 0);

}

.clip.clip-three {
    background: url(https://images.unsplash.com/photo-1519757043093-285fcb07a4e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80) center/cover;

    clip-path: polygon(47% 0, 100% 100%, 100% 0);



}

.container:hover .clip {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}