* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0093e9, #80d0c7);
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}

.card {
  position: relative;
  width: 450px;
  height: 450px;
  background: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.img-container {
  position: absolute;
  inset: 10px;
  z-index: 2;
  transition: 1s;
}

img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

h3 {
  font-size: 20px;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  transition: 1s;
  z-index: -1;
}

.card:hover::before {
  transform: rotate(20deg);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card:hover::after {
  transform: rotate(10deg);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card:hover .img-container {
  bottom: 80px;
}
