* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-2 {
    text-decoration: none;
    padding: 30px 60px;
    color: white;
    position: relative;
    background-color: blueviolet;
    font-size: 28px;

}

.btn-2::before {
    content: "BUTTON";
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 231, 14);
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

.btn-2::after {
    content: "BUTTON";
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;
}


.btn-2:hover::before,
.btn-2:hover::after {
    transform: rotateX(0);
}