* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.card {
    position: relative;
    inset: 0;
    width: 480px;
    height: 550px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
}

.image-container {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.content {
    width: 80%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 10%;
    overflow: hidden;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s;
}

h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

p {
    width: 80%;
    font-size: 18px;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}

a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 10px 30px;
    margin-top: 30px;
    transition: 0.5s;
    opacity: 0;
}

.card:hover .content {
    width: 100%;
    height: 100%;
    left: 0;
}

.card:hover p,
.card:hover a {
    opacity: 1;
    transition-delay: 0.5s;
}

.content:hover img {
    opacity: 0;
}