

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: crimson;
}

h2 {
    font-family: sans-serif;
    font-size: 25px;
}

.card {
    width: 730px;
    background-color: white;
    margin: 20px;
    line-height: 28px;
    padding: 20px 25px;
    font-family: Arial, Helvetica, sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#21d4fd, #b721ff);
    border-radius: 100px;

}
