* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;

}

ul li a {
    position: relative;
    text-decoration: none;
    margin-right: 20px;
    padding: 15px 30px;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    transition: all 1s;
}

ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid crimson;
    border-bottom: 2px solid crimson;
    transition: all 1s;
    transform: scaleY(2);
    opacity: 0;

}

ul li a::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 1s;
    transform: scale(0);
    background-color: crimson;
}

ul li a:hover::after {
    transform: scale(1);
}

ul li a:hover::before {
    opacity: 1;
    transform: scaleY(1.2);
}

a:hover {
    color: #fff;
}