* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.container img {
    width: 100%;
    transition: all 1s;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    background-color: rgb(23, 23, 23);
    color: #fff;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 1s;
}

.container:hover .content {
    transform: translateX(0);
}

.container:hover img {
    transform: translateX(100%);
}