* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-video {
     position: absolute;
    right: 0;
    bottom: 0; 
    z-index: -1;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 160px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}

.content h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.content a {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 40px;
    transition: 0.5s;
}

.content a:hover {
    background-color: #fff;
    color: #000;
}

/*wider screen*/
@media(min-aspect-ratio:16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

/* taller screen*/
@media(max-aspect-ratio:16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}