* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: rgb(16, 16, 16);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-1 {
    border: 2px solid antiquewhite;
    text-decoration: none;
    padding: 30px 80px;
    color: antiquewhite;
    position: relative;
    overflow: hidden;
    transition: all 1s;

}

.btn-1::before {
    content: "DOWNLOAD";
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all 1s;
}

.btn-1:hover::before {
    transform: translateY(0);
    background-color: antiquewhite;
}