* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    font-size: 2rem;
    padding: 15px 30px;
    text-transform: uppercase;
    color: white;
    position: relative;
    transition: all 1s;
}

a::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    border: 2px solid white;
    width: 12px;
    height: 12px;
    border-width: 0 0 3px 3px;
    transition: all 1s;
    opacity: 0;
}

a:hover::before {
    opacity: 1;
    bottom: -2px;
    left: -2px;
}

a::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    border: 2px solid white;
    width: 12px;
    height: 12px;
    border-width: 3px 3px 0 0;
    transition: all 1s;
    opacity: 0;
}

a:hover::after {
    opacity: 1;
    top: -2px;
    right: -2px;
}