* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: crimson;
}

a {
    background-color: rgba(17, 17, 137, 0.824);;
    color: white;
    padding: 1.2rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
  
}

a::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: -10px;
    left: -10px;
    border-top: 4px solid darkblue;
    border-left: 4px solid darkblue;
      transition: all 0.25s;
}
a::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    bottom:-10px;
    right: -10px;
    border-bottom: 4px solid darkblue;
    border-right: 4px solid darkblue;
      transition: all 0.25s;
}

a:hover::before,
a:hover::after{
    width: 100%;
    height: 100%;
}
